<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" href="style.css" rel="stylesheet">
    </head>
    <body>
        <div class="panel-two" style="float: right;">
            <div class="panel-info">
                <h3 class="panel-title">Invoice 201000</h3>
                <div class="panel-title-widget"></div>
                <div class="panel-actions-wrapper">
                    
                </div>
            </div>
            <div class="inner">
                <div class="inner-left" style="overflow-y: scroll;">
                    <div class="inner-content">
                        <div class="invoice">
                            <div class="invoice-company-details">
                                <div class="invoice-logo">
                                    <!--<img src="http://www.duetapp.com/demo//client/images/sample-logo.png" alt="Duet Project Management"/>-->
                                    <img src="./your-logo.PNG" alt="Duet Project Mana">
                                </div>
                                <div class="invoice-contact-info">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                            <div style="width: 100%; height: 18px;">To:</div>
                            <div class="invoice-details">
                                <div class="invoice-client">
                                    <div class="invoice-client-name">Sample Client</div>
                                    <div class="invoice-client-info">123 Fern St</div>
                                    <div class="invoice-client-info">Atlanta GA</div>
                                </div>
                            </div>
                            <ul class="line-items">
                                <li class="invoice-items-header">
                                    <div class="invoice-item">Item</div>
                                    <div class="invoice-quantity">HRS/QTY</div>
                                    <div class="invoice-rate">Rate</div>
                                    <div class="invoice-subtotal">Subtotal</div>
                                </li>
                                <li class="line-item">
                                    <div class="invoice-item">Website Design</div>
                                    <div class="invoice-quantity">40</div>
                                    <div class="invoice-rate">80.00</div>
                                    <div class="invoice-subtotal">$3,200.00</div>
                                    <div class="line-item-actions">
                                        <div class="edit-item" title="Edit item"></div>
                                        <div class="delete-item" title=""></div>
                                    </div>
                                </li><li class="line-item">
                                    <div class="invoice-item">Slicing PSD, &amp; Coding HTML</div>
                                    <div class="invoice-quantity">25</div>
                                    <div class="invoice-rate">80.00</div>
                                    <div class="invoice-subtotal">$2,000.00</div>
                                    <div class="line-item-actions">
                                        <div class="edit-item" title="Edit item"></div>
                                        <div class="delete-item" title=""></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="invoice-summary">
                                <div class="summary-header">
                                    Invoice Summary
                                </div>
                                <div class="row" style="line-height: 20px;">
                                    <div class="rowl" >Subtotal</div>
                                    <div class="rowr">$5,200.00</div>
                                </div>
                                <div class="row">
                                    <div class="rowl">Tax(1%)</div>
                                    <div class="rowr">$52.00</div>
                                </div>
                                <div class="row">
                                    <div class="rowl">Total</div>
                                    <div class="rowr">$5,252.00</div>
                                </div>
                            </div>
                            <div class="invoice-terms">
                                All totals are final and non-negotiable. Payments must be made by the specified due 
                                date with no exceptions. Mailed checks must be postmarked by the due date above.
                            </div>
                        </div>
                    </div>
                    <div class="invoice-meta-wrapper">
                        <div class="content">
                            <div class="client-name">Sample Client</div>
                            <div class="content1">
                                <div class="invoice-due-date">
                                    <div class="value_l">Invoice#:</div>
                                    <div class="value_r">201000</div>
                                </div>
                                <div class="invoice-due-date">
                                    <div class="value_l">Due Date:</div>
                                    <div class="value_r">Apr 29th</div>
                                </div>
                                <div class="invoice-due-date">
                                    <div class="value_l">Status:</div>
                                    <div class="value_r"><div class="status-text"> Paid</div></div>
                                </div>
                                <div class="invoice-due-date">
                                    <div class="value_l">Date Sent:</div>
                                    <div class="value_r">Not yet sent</div>
                                </div>
                                <div class="invoice-due-date">
                                    <div class="value_l">Balance:</div>
                                    <div class="value_r">$0.00</div>
                                </div>
                            </div>
                            <div class="action">
                                <div class="action-preview">
                                    <a href="#" class="preview"> Preview</a>
                                </div>
                                <div class="action-download">
                                    <a href="#"class="download">Download</a>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="inner-right">
                    <div class="message-menu">
                        <div class="message-title"> Discussion for this invoice</div>
                    </div>
                    <div class="message-content" style="overflow-y: scroll">
                   </div>
                    <div class="new-message">
                        <div class="message-action">
                            <div class="message-action-left">
                                <div class="bold">B</div>
                                <div class="italic">I</div>
                                <div class="underline">U</div>
                                <div class="strick">S</div>
                            </div>
                            <div class ="message-action-right">
                                <div class="button-send">
                                    <div class="send-message">Send</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
